{% extends 'base.html.twig' %}

{% block body %}
<form method="post" enctype="multipart/form-data">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1>Provide your room key to sign in</h1>

    <input class="frm_file_input" type="file" name="room_key" />
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="pair_btn" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
