{% extends 'base.html.twig' %}

{% block body %}
    <h1>Privacy Policy</h1>

    <h3>Information collected and how they are used</h3>

    <p>
        When you create a chatroom, we collect your Facebook ID and Facebook Public Profile's Name. The data collected
       are only used as a reference to the creator of the chatroom. These records are removed
        automatically after 7 days. You may also delete them through your Facebook profile and clicking the
        Send Request button on the Settings & Privacy > Settings > Apps and Websites page.</p>

    <p>Messages you supply in the chatrooms are encrypted by your own room keys and can only be decrypted by your
        recipient. These data are removed after 24 hours once viewed.</p>

    <p>As expired messages and chatrooms are automatically removed, confirmation status sent by Facebook's data
        removal request page may report a different message.</p>

    <h3>Log Files</h3>

    <p>No log files that contain your data are collected.</p>

    <h3>Cookies</h3>

    <p>Cookies are used to generate session data. These do not contain any personally identifiable information.</p>

    <h3>Advertising and sharing</h3>

    <p>This site do not contain advertisements nor use any 3rd-party tools. No data is shared to any party.</p>

{% endblock %}
